.smart-env/
.smtcmp_json_db/
.trash
*.env

.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/hotkeys.json
.obsidian/app.json
.obsidian/community-plugins.json
.obsidian/plugins/**/data.json
.obsidian/plugins/**/cache/
.obsidian/workspaces/
.obsidian/appearance.json
.smtcmp_json_db.tar.gz

# Keep these (useful to sync):
!.obsidian/plugins/ (plugin code)
!.obsidian/themes/ (if you use custom themes)
!.obsidian/snippets/ (your CSS snippets)

# System files
.DS_Store
Thumbs.db
desktop.ini

# Temporary filesad
*.tmp
*.swp
*~

99_Archive/**
/99_Archive/80_Getting
Started/801_env
80_Getting Started/801_env
